@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

body a {
  @apply font-sans font-semibold text-royal underline underline-offset-2 hover:text-pittblue hover:decoration-2;
}

.parsed-html {
  @apply space-y-1;
}

.parsed-html ul {
  @apply list-inside;
  @apply space-y-1;
}

.parsed-html ul li {
  @apply ml-4 -indent-4;
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0 0 0 / 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
