.wrapper {
  @apply w-full shadow-lg;
  @apply bg-royal text-white;

  background: url('../../assets/images/bg_header.png') no-repeat center center
    #003594;
  background-size: auto;
  background-size: cover;
}

.wrapper > .top {
  @apply container mx-auto
  max-w-screen-lg;
  @apply flex-none p-2;
}

.branding {
  @apply flex items-center;
  @apply space-x-4;
  @apply h-20;
}

.branding a {
  @apply text-white no-underline;
}

.branding .logo {
  @apply text-left;
  @apply pr-4;
}

.divider {
  @apply h-10 border-r border-grey;
}

.filler {
  @apply flex-grow;
}

.title {
  @apply font-cooper text-2xl font-semibold;
}

.menuWrapper {
  @apply container mx-auto max-w-screen-lg;
  @apply flex flex-col justify-between;
}

.menuWrapper > ul {
  @apply flex;
}

.menuWrapper > ul > li {
  @apply font-semibold text-gold;
  @apply py-4;
}

.menuWrapper > ul > li:not(:last-child) a {
  @apply border-r border-gray-400;
}

.menuWrapper > ul a {
  @apply font-semibold uppercase text-white;
  @apply text-sm uppercase;
  @apply px-5;
}

.menuWrapper .callout a {
  @apply font-bold text-gold;
}

.menuWrapper.condensed {
  @apply w-full px-2;
  @apply sm:visible lg:hidden;
}

.menuWrapper.condensed > div {
  @apply relative;
}

.menuWrapper.large {
  @apply max-lg:hidden;
}

.menuWrapper.condensed ul {
  @apply block;
}

.menuWrapper.condensed ul > li {
  @apply my-0.5 py-3 px-4;
  @apply text-center;
  @apply font-semibold text-pittblue;
}

.menuWrapper.condensed ul > li:not(:last-child) {
  @apply border-b-2;
}

.menuWrapper.condensed ul > li a {
  @apply font-bold uppercase;
}

.account {
  @apply pl-5;
}

.condensed .account {
  @apply pl-0;
  @apply space-x-4;
}

.menuWrapper button {
  @apply my-1 font-bold uppercase;
}

.menuWrapper.condensed {
  @apply text-center;
}
